##################################################################
#                                                                #
#                          ATTENTION                             #
#                                                                #
# Unauthorized access to this system is strictly prohibited.     #
# Please ensure you have proper authorization to access          #
# this server.                                                   #
#                                                                #
# All activities on this system are monitored and recorded.      #
# By connecting to this server, you consent to such monitoring.  #
#                                                                #
# Server Hostname:  {{ hostname }}                               #
# System Owner:     Kevin Harvey                                 #
#                                                                #
##################################################################
